.dashboard {
    
    display: grid;
    flex-basis: 60%;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 25vw 25vw 25vw 25vw;
    justify-items: stretch;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.sidebar {
    display: grid;
    grid-area: 1 / 1 / span 2 / span 1;
    grid-column: span 1;
    background-color: teal;
}

.reviews {
    /* display: grid; */
    grid-area: 1 / 2 / span 1 /  span 1;
    background-color: red;
}

.average-ratings {
    /* display: grid; */
    grid-area: 1 / 3 / span 1 / span 1;
    background-color: aqua;
}

.sentiment-analysis {
    /* display: grid; */
    grid-area: 1 / 4 / span 1 / span 1;
    background-color: slategrey;
}

.website-visitors {
    /* display: grid; */
    grid-area: 2 / 2 / span 1 / span 3;
    background-color: wheat;
}